.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  width : 100%;
  background-color: transparent;
}

.resize {
  object-fit: cover;
  width: 40vmin;
  height: 40vmin;
}

.text {
  color: black;
  width: 25%;
  padding: 10px;
  font-size: 20px;
  margin: auto;
  text-align: center;
}

.option-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
}

.option-radio-group {
  display: flex;
  flex-direction: column;
}

.order-radio-group {
  padding: 10px;
}

.option-method-button {
  flex: 1;
}
