.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: right;
  width : 100%;
  background-color: transparent;
}

.resize {
  max-width: 200px;
  max-height: 200px;
  min-height: 10px ;
  min-width: 10px ;
  width: 100px;
  height: 100px;
}

.text {
  color: black;
  padding: 10px;
  font-size: 20px;
}

.button {
  background-color: black;
  box-shadow: 5px 10px #317033;
  color: white;
  max-width: 200px;
  max-height: 200px;
  min-height: 10px ;
  min-width: 10px ;
  width: 30vh;
  height: 30vh;
  margin-left: 10px;
  margin-right: 10px;
  align-self: center;
  vertical-align: center;
}

.button:hover {
  background-color: #222222;
}

.button:focus {
  outline: none;
  background-color: white;
  color: black;
  -webkit-box-shadow: inset 0px 0px 15px #317033;
  -moz-box-shadow: inset 0px 0px 15px #317033;
  box-shadow: inset 0px 0px 15px #317033;}
