<div class="container">
  <div class="content center">
      <div>
        <h1 class = "text" *ngIf="!loginComponent.isLoggedIn()"> <b>Playlist Sorter</b> </h1>
        <h1 class = "text" *ngIf="loginComponent.isLoggedIn()"> <b>Hello</b> </h1>
        <p class = "text" > Sort your playlists by popularity, album colour and much more...</p>
        <!--<button mat-raised-button color="primary" (click)="login()"> Begin</button>-->
        <app-login #loginComponent></app-login>
      </div>
  </div>
  <mat-card mat-card-content class="image center">
    <mat-card class = "track">
      <app-playlist class="playlist" [playlist]="this.playlist" [showButton]="false"></app-playlist>
    </mat-card>
    <mat-card *ngFor="let track of this.tracks" class = "track">
      <img *ngIf="this.playlist.getImage().url !== ''" src="{{track.getImage().url}}" class="resize">
      <div class="track-text">{{track.getName()}}</div>
      <div class="track-text">{{track.getArtists()[0].name}}</div>
      <div class="track-text">{{track.getAlbum().name}}</div>
    </mat-card>
  </mat-card>



</div>
