.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  position: absolute;
}

.mat-card {
  margin: 20px;
  flex: 1;
}

.title {
  color: white;
  font-size: 5vmin;
}

.text {
  color: white;
  font-size: 4vmin;
}

.playlist {
  width: 100% ;
}

.content {
  max-height: 100%;
  padding: 2em;
}

.center {
  display: flex;
  align-items: center;
}

.image {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

/*.resize{*/
  /*width: 100%;*/
/*}*/

.resize {
  max-width: 200px;
  max-height: 200px;
  min-height: 10px ;
  min-width: 10px ;
  width: 10%;
  height: auto;
}

.center {
  display: flex;
  justify-content: center;
}

.track-text {
  color: black;
  width: 25%;
  padding: 10px;
  font-size: 20px;
}


.track {
  display: flex;
  flex-direction: row;
  flex : 1;
  width : 90%;
  margin: 10px;
  align-items: center;
  background-color: #1DB954;
}
