<div class="container">
  <div class="button-and-info">
    <h1 class="title text">Pick a Playlist...
    </h1>
    <button mat-raised-button mat-icon-button class="confirm-button" (click)="moveToSorter()">
      <mat-icon>chevron_right</mat-icon>
    </button>
    <div class="current-playlist">
      <div class="current-playlist-text">
        Chosen Playlist Name:<br>
        Number of Tracks:
      </div>
      <div class="current-playlist-text">
        {{this.currentPlaylist?.getName()}}<br>{{this.currentPlaylist?.getTracks().total}}
      </div>
    </div>


  </div>


  <mat-tab-group dynamicHeight (selectedTabChange)="showCorrectPlaylists($event)">
    <mat-tab (click)="showUserPlaylists()" label="Your Playlists" class="mat-tab-label">


      <div class="playlists-container">
        <form class="filter-form">
          <mat-form-field class="filter-mat-form-field">
            <mat-label>Type to Filter...</mat-label>
            <input matInput
                   type="text"
                   (keyup)="onKey($event.target.value)"/>
          </mat-form-field>
        </form>

        <!--<mat-card class="playlist" *ngFor="let playlist of this.filteredPlaylists">-->
          <app-playlist [playlist]="playlist"
                        [isSelected]="isPlaylistSelected(playlist)"
                        [showButton]="true"
                        class="playlist" *ngFor="let playlist of this.filteredPlaylists"
          ></app-playlist>
        <!--</mat-card>-->
      </div>


    </mat-tab>
    <mat-tab (click)="showPlaylistSearch()" label="Search Playlists">
      <form class="filter-form">
        <mat-form-field class="filter-mat-form-field">
          <mat-label>Type to Filter...</mat-label>
          <input matInput
                 type="text"
                 (keyup)="onKey($event.target.value)"/>
        </mat-form-field>
      </form>

      <mat-card class="playlist" *ngFor="let playlist of this.filteredPlaylists">
        <app-playlist
          [playlist]="playlist"
          [isSelected]="isPlaylistSelected(playlist)"
          [showButton]="true"
          class="playlist-info"></app-playlist>
      </mat-card>

    </mat-tab>

  </mat-tab-group>

</div>
