.playlist {
  display: flex;
  flex-direction: row;
  flex : 1;
  /*width : 90%;*/
  margin: 20px;
  padding: 20px;
  align-items: center;
  background-color: #1DB954;
}

.container {
  background-color: black;
  padding: 10px;
}

.button-and-info{
  display: flex; /* or inline-flex */
  flex-wrap: nowrap;
  width:95%;
  padding: 20px;
  text-align: right;
  justify-content: space-between;
  align-items: center;
}


.red-border {
  border: 4px solid red;
}

.playlists-container {
  display: flex; /* or inline-flex */
  flex-wrap: nowrap;
  width:95%;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.confirm-button {
  /*display: flex;*/
  /*width: 20%;*/
  /*height: 80%;*/
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  color: black;
}

.button {
  width: 20%;
  height: 80%;
  margin: 5px;
  background-color: white;
  color: black;
}

.button:hover {
  background-color: #222222;
}

.playlist-info {
  width : 100%;
}

.current-playlist {
  display: flex;
  padding: 10px;
  color: white;
  padding-right: 0px;
}
.current-playlist-text {
  padding: 10px;
  color: white;
  flex: 0 0 auto;
  padding-right: 0px;
}

.search {
  margin: 10px  10px 10px 6px;
}

.mat-tab-label {
  /*min-width: 25px !important;*/
  /*padding: 5px;*/
  color: white;
  font-weight: 300;
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  /*min-width: 25px !important;*/
  /*padding: 5px;*/
  color: white;
  font-weight: 300;
}

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: white;
}

.mat-form-field {
  background-color: black;
  color: white;
}

.filter-mat-form-field {
  width: 350px;
  font-size: 14px;
  margin-bottom: -15px;
}

.filter-mat-form-field mat-label {
  color: white;
  /* add label text color here */
}

.filter-mat-form-field .mat-input-element {
  color: white;
  /* add input text color here */
}

.filter-mat-form-field .mat-input-element::placeholder {
  color: white;
  /* add placeholder css here */
}

.filter-input {
  color: white;
}
