<div class="container">
  <div class="">
    <button mat-raised-button class="button" (click)="moveToSorter()" >Confirm</button>
    <div class="current-playlist">
      Chosen Playlist Name: {{this.currentPlaylist.getName()}}<br>
      Number of Tracks: {{this.currentPlaylist.getTracks() === null ? '' : this.currentPlaylist.getTracks().total}}
    </div>

  </div>


  <mat-tab-group class="playlists-container" dynamicHeight (selectedTabChange)="showCorrectPlaylists($event)"
                 [color]="'primary'">
    <mat-tab (click)="showUserPlaylists()" label="Your Playlists" class="mat-tab-label" color = "white">
      <mat-form-field><input matInput
                             type="text"
                             (keyup)="onKey($event.target.value)"
                             placeholder="Type to filter..."></mat-form-field>
      <mat-card class = "playlist" *ngFor="let playlist of this.filteredPlaylists">
        <app-playlist [playlist]="playlist"
                      [isSelected]="isPlaylistSelected(playlist)"
                      [showButton]="true"
                      class = "playlist-info"></app-playlist>
      </mat-card>

    </mat-tab>
    <mat-tab (click)="showPlaylistSearch()" label="Search Playlists" >
      <mat-form-field><input matInput
                             type="text"
                             (keyup)="onKey($event.target.value)"
                             placeholder="Type to filter..."></mat-form-field>
      <mat-card class = "playlist" *ngFor="let playlist of this.filteredPlaylists">
      <app-playlist
                    [playlist]="playlist"
                    [isSelected]="isPlaylistSelected(playlist)"
                    [showButton]="true"
                    class = "playlist-info"></app-playlist>
      </mat-card>

    </mat-tab>
  </mat-tab-group>

</div>
