
<div class="full-height">

  <div class = "container">
    <mat-card class = "playlist-holder">
      <app-playlist-sort  class ="playlist" [playlist]="this.playlist"
                          (methodEmitter) = "updateMethod($event)"
                          (orderEmitter)="updateOrder($event)"
      ></app-playlist-sort>
    </mat-card>
    <mat-card *ngFor="let track of this.tracks" class = "track">
      <img *ngIf="this.playlist.getImage().url !== ''" src="{{track.getImage().url}}" class="resize">
      <div class="text ">{{track.getName()}}</div>
      <div class="text ">{{track.getArtists()[0].name}}</div>
      <div class="text ">{{track.getAlbum().name}}</div>
      <div *ngIf="this.method != ''" class="text ">{{this.method}}:{{track[this.method.toLowerCase()]}}</div>
    </mat-card>
  </div>

</div>
