/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  height: 100%;
}

html {
  background-color: black
}

body {
  margin: 0;
}

* {
  font-family: 'Atkinson Hyperlegible', sans-serif !important;
  box-sizing: border-box;
}

.mat-h1, .mat-headline, .mat-typography h1 {
  font-size: 5vw;
  text-align: left;
}

.mat-icon, .material-icon{
  font-family: 'Material Icons' !important;
}
