/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  height: 100%;
}

html {
  background-color: black
}

body {
  margin: 0;
}

* {
  font-family: 'Atkinson Hyperlegible', sans-serif !important;
}
